In [1]:
import numpy as np
import pandas as pd

1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [2]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

2.Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [4]:
s=pd.Series([1,2,3,4,5])

In [7]:
lst=list(s)
type(lst)

list

3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [10]:
a=pd.Series([2, 4, 6, 8, 10])
b=pd.Series([1, 3, 5, 7, 9])

In [11]:
a+b

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [12]:
a*b

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [13]:
a-b

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [14]:
a/b

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [15]:
a=pd.Series([2, 4, 6, 8, 10])
b=pd.Series( [1, 3, 5, 7, 10])

In [19]:
#a is geater than b
a>b

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [20]:
#a is less than b
a<b

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [21]:
#a is equal to b
a==b

0    False
1    False
2    False
3    False
4     True
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series.

In [22]:
# Sample Series: 
# Original dictionary:
# {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

# Converted series:
# a    100
# b    200
# c    300
# d    400
# e    800
# # dtype: int64

In [24]:
a={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
pd.Series(a)

a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [25]:
# Sample Series: 
#   NumPy array:
# [10 20 30 40 50]
# Converted Pandas series:
# 0    10
# 1    20
# 2    30
# 3    40
# 4    50
# dtype: int64

In [27]:
arr=np.array([10,20,30,40])
pd.Series(arr)

0    10
1    20
2    30
3    40
dtype: int32

7. Write a Pandas program to change the data type of given a column or a Series.

In [28]:
# Sample Series: 
#     Original Data Series:
# 0       100
# 1       200
# 2    python
# 3    300.12
# 4       400
# dtype: object
# Change the said data type to numeric:
# 0    100.00
# 1    200.00
# 2       NaN
# 3    300.12
# 4    400.00
# dtype: float64

In [34]:
s=pd.Series([100,200,'python',300.12,400])
pd.to_numeric(s,errors='coerce')

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [39]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df=pd.DataFrame(d)
s=pd.Series(df['col1'])
type(s)

pandas.core.series.Series

9. Write a Pandas program to convert a given Series to an array.

In [41]:
# Sample Output: 
# Original Data Series:
# 0       100
# 1       200
# 2    python
# 3    300.12
# 4       400
# dtype: object
# Series to an array
# ['100' '200' 'python' '300.12' '400']
# <class 'numpy.ndarray'>

In [46]:
s=pd.Series([100,200,'python',300.12,400])
a=np.array(s)
type(a)

numpy.ndarray

10. Write a Pandas program to convert Series of lists to one Series.

In [47]:
# Sample Output: 
# Original Series of list
# 0    [Red, Green, White]
# 1           [Red, Black]
# 2               [Yellow]
# dtype: object
# One Series
# 0       Red
# 1     Green
# 2     White
# 3       Red
# 4     Black
# 5    Yellow
# dtype: object

In [59]:
lst=[["Red", "Green", "White"],["Red", "Black"],["Yellow"]]
ser=pd.Series(lst)
ser.apply(pd.Series).stack().reset_index(drop=True)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

11. Write a Pandas program to sort a given Series.

In [60]:
# Sample Output:
# Original Data Series:
# 0       100
# 1       200
# 2    python
# 3    300.12
# 4       400
# dtype: object
# 0       100
# 1       200
# 3    300.12
# 4       400
# 2    python
# dtype: object

In [76]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)
new_s = pd.Series(s).sort_values()
print(new_s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

12. Write a Pandas program to add some data to an existing Series.

In [88]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
a=pd.Series(["php","500"])
pd.concat([s,a],ignore_index=True)

0       100
1       200
2    python
3    300.12
4       400
5       php
6       500
dtype: object

13. Write a Pandas program to create a subset of a given series based on value and condition.

In [93]:
s = pd.Series([0,1,2,3,4,5,6,7,8,9,10])
n=6
sub=s[s<n]
sub

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

14. Write a Pandas program to change the order of index of a given series.

In [98]:
ser=pd.Series(data=[1,2,3,4,5],index=["a","b","c","d","e"])
ser.reindex(index=["b","a","c","e","d"])

b    2
a    1
c    3
e    5
d    4
dtype: int64

15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [101]:
ser=pd.Series([1,2,3,4,5,6,7,8,9,10])
ser.mean()
ser.std()

3.0276503540974917

16. Write a Pandas program to get the items of a given series not present in another given series.

In [102]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])

In [106]:
sr1[~sr1.isin(sr2)]

0    1
2    3
4    5
dtype: int64

17. Write a Pandas program to get the items which are not common of two given series.

In [117]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
sr3=pd.Series(np.union1d(sr1,sr2))
sr4=pd.Series(np.intersect1d(sr1,sr2))
sr3[~sr3.isin(sr4)]

0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [126]:
num_series = pd.Series(np.take(list('0123456789'), np.random.randint(10, size=40)))
num_series.value_counts()

7    8
0    6
9    5
1    4
5    4
2    4
6    4
8    3
3    1
4    1
Name: count, dtype: int64

20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [134]:
num_series = pd.Series(np.random.randint(1, 10, 9))
print(num_series)
np.where(num_series%5==0)

0    5
1    6
2    9
3    9
4    3
5    5
6    3
7    8
8    2
dtype: int32

(array([0, 5], dtype=int64),)

22. Write a Pandas program to extract items at given positions of a given series.

In [138]:
# Sample Output:  
# Original Series:
# 0     2
# 1     3
# 2     9
# 3     0
# 4     2
# 5     3
# ...

# 19    0
# 20    2 
# 21    3
# dtype: object

# Extract items at given positions of the said series: 
# 0     2
# 2     9
# 6     8
# 11    0
# 21    3
# dtype: object
num_series = pd.Series(list('2390238923902390239023'))
given_pos=pd.Series([0,2,6,11,21])
num_series.take(given_pos)

0     2
2     9
6     8
11    0
21    3
dtype: object

23. Write a Pandas program to get the positions of items of a given series in another given series

In [139]:
# Sample Output:  
# Original Series:
# 0     1
# 1     2
# 2     3
# 3     4
# 4     5
# 5     6
# 6     7
# 7     8
# 8     9
# 9    10
# dtype: int64
# 0     1
# 1     3
# 2     5
# 3     7
# 4    10
# dtype: int64
# Positions of items of series2 in series1:
# [0, 2, 4, 6, 9]

24. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.

In [140]:
series1 = pd.Series(['php', 'python', 'java', 'c#'])

In [141]:
series1.map(lambda x:x[0].upper()+x[1:-1]+x[-1].upper())

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

25. Write a Pandas program to calculate the number of characters in each word in a given series.

In [143]:
series1 = pd.Series(['php', 'python', 'java', 'c#'])
series1.map(lambda x:len(x))

0    3
1    6
2    4
3    2
dtype: int64

26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

27. Write a Pandas program to convert a series of date strings to a timeseries.

In [151]:
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
date_series
pd.to_datetime(date_series,format='mixed')

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.

In [186]:
from dateutil.parser import parse
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
date_series=date_series.map(lambda x:parse(x))
dateseries.dt.day.to_list()
date_series.dt.dayofyear.to_list()
date_series.dt.dayofweek.to_list()
# print(date_series.dt.weekday_name.tolist())

[3, 6, 2, 1, 1, 5]

29. Write a Pandas program to convert year-month string to dates adding a specified day of the month.

In [197]:
date_series = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
date_series.map(lambda x:parse('11'+x))

0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

30. Write a Pandas program to filter words from a given series that contain atleast two vowels.

In [198]:
color_series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])

31. Write a Pandas program to compute the Euclidean distance between two given series.
Euclidean distance
From Wikipedia,
In mathematics, the Euclidean distance or Euclidean metric is the "ordinary" straight-line distance between two points in Euclidean space. With this distance, Euclidean space becomes a metric space. The associated norm is called the Euclidean norm.

In [207]:
x = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
y = pd.Series([11, 8, 7, 5, 6, 5, 3, 4, 7, 1])

def  Euclidean_distance(x,y):
    sm=0;
    for i in range(len(x)):
        sm+=(x[i]-y[i])**2
    return sm

In [211]:
np.sqrt(Euclidean_distance(x,y))

16.492422502470642

In [217]:
print(np.linalg.norm(x-y))

16.492422502470642

35. Write a Pandas program to create a TimeSeries to display all the Sundays of given year.

In [245]:
result = pd.Series(pd.date_range('2020-01-01', periods=52, freq='W-SUN'))
result

0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

In [ ]:
36. Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.

In [243]:
char_list = list('ABCDEFGHIJKLMNOP')
num_arra = np.arange(8)
dic=dict(zip(char_list,num_arra))
ser=pd.Series(dic)
pd.DataFrame(ser).reset_index()

  index  0
0     A  0
1     B  1
2     C  2
3     D  3
4     E  4
5     F  5
6     G  6
7     H  7

37. Write a Pandas program to stack two given series vertically and horizontally.

In [221]:
nums1 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
nums2 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])

In [230]:
pd.concat([nums1,nums2],axis=0)
pd.concat([nums1,nums2],axis=1)

   0  1
0  1  1
1  8  8
2  7  7
3  5  5
4  6  6
5  5  5
6  3  3
7  4  4
8  7  7
9  1  1

38. Write a Pandas program to check the equality of two given series.

In [220]:
nums1 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
nums2 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
nums1==nums2

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

39. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.

In [219]:
nums = pd.Series([1, 3, 7, 12, 88, 23, 3, 1, 9, 0])
nums.idxmin()
nums.idxmax()

4

40. Write a Pandas program to check inequality over the index axis of a given dataframe and a given series

In [212]:
# Sample Output: 
# Original DataFrame:
#       W     X   Y   Z
# 0  68.0  78.0  84  86
# 1  75.0  75.0  94  97
# 2  86.0   NaN  89  96
# 3  80.0  80.0  86  72
# 4   NaN  86.0  86  83

# Original Series:
# 0    68.0
# 1    75.0
# 2    86.0
# 3    80.0
# 4     NaN
# dtype: float64

# Check for inequality of the said series & dataframe:
#        W      X     Y     Z
# 0  False   True  True  True
# 1  False  False  True  True
# 2  False   True  True  True
# 3  False  False  True  True
# 4   True   True  True  True

In [216]:
df_data = pd.DataFrame({'W':[68,75,86,80,None],'X':[78,75,None,80,86], 'Y':[84,94,89,86,86],'Z':[86,97,96,72,83]});
sr_data = pd.Series([68, 75, 86, 80, None]) 
df_data[~df_data.ne(sr_data,axis=0)]

      W     X   Y   Z
0  68.0   NaN NaN NaN
1  75.0  75.0 NaN NaN
2  86.0   NaN NaN NaN
3  80.0  80.0 NaN NaN
4   NaN   NaN NaN NaN